################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TopUpService/TopUpService.API/.vs/TopUpService.API
/TopUpService/TopUpService.API/TopUpService.API/bin/Debug/net6.0
/TopUpService/TopUpService.API/TopUpService.API/obj
/TopUpService/TopUpService.API/TopUpService.Common/bin/Debug/net6.0
/TopUpService/TopUpService.API/TopUpService.Common/obj
/TopUpService/TopUpService.API/TopUpService.Data/bin/Debug/net6.0
/TopUpService/TopUpService.API/TopUpService.Data/obj
/TopUpService/TopUpService.API/TopUpService.Database/bin/Debug/net6.0
/TopUpService/TopUpService.API/TopUpService.Database/obj
/TopUpService/TopUpService.API/TopUpService.DTO/bin/Debug/net6.0
/TopUpService/TopUpService.API/TopUpService.DTO/obj
/TopUpService/TopUpService.API/TopUpService.Logic/bin/Debug/net6.0
/TopUpService/TopUpService.API/TopUpService.Logic/obj
/TransactionService/TransactionService.API/.vs/TransactionService.API
/TransactionService/TransactionService.API/TransactionService.API/obj
/TransactionService/TransactionService.API/TransactionService.Common/bin/Debug/net6.0
/TransactionService/TransactionService.API/TransactionService.Common/obj
/TransactionService/TransactionService.API/TransactionService.Data/bin/Debug/net6.0
/TransactionService/TransactionService.API/TransactionService.Data/obj
/TransactionService/TransactionService.API/TransactionService.Database/bin/Debug/net6.0
/TransactionService/TransactionService.API/TransactionService.Database/obj
/TransactionService/TransactionService.API/TransactionService.DTO/bin/Debug/net6.0
/TransactionService/TransactionService.API/TransactionService.DTO/obj
/TransactionService/TransactionService.API/TransactionService.Logic/bin/Debug/net6.0
/TransactionService/TransactionService.API/TransactionService.Logic/obj
/TransactionService/TransactionService.API/TransactionService.Tests
